<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Manu Siosio</mat-card-title>
      <mat-card-subtitle>Member</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem" class="list-item">manu.siosio@mail.fr</mat-list-item>
            <mat-list-item role="listitem" class="list-item">0601040502</mat-list-item>
            <mat-list-item role="listitem" class="list-item">Angular</mat-list-item>
          </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DELETE</button>
      <button mat-button>MODIFY</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-card-subtitle>Private member</mat-card-subtitle>
    </mat-card-footer>
</mat-card>